<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>
<form id="create-user-form">
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first-name"><br>

    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="last-name"><br>

    <label for="mobile">Mobile:</label>
    <input type="text" id="mobile" name="mobile"><br>

    <label for="username">User Name:</label>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>

    <input type="submit" value="Create User">
</form>

<div id="user-list"></div>

<script src="/js/create-user.js"></script>
</body>
</html>